.info {
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    border: solid 1px darkcyan;
    line-height: 1.5em;
}

.info-content {
    margin-top: 10px;
    padding-left: 20px;
}
